body {
    color: #3f3f3f !important;
    -webkit-font-smoothing: antialiased;
}

label {
    font-size: 0.8rem;
    font-weight: bold;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

#root {
    height: 100vh;
}

#login-screen{
    height: 100%;
    max-width: 300px;
}

#signup-screen {
    height: 100%;
    max-width: 300px;
}

#forgot-password{
    height: 100%;
    max-width: 300px;
}

#welcome-screen {
    height: 100%;
}

#home-screen {
    height: 100%;
}

.brand-logo {
    width: 60vw;
}

.plan-card {
    padding: 10px;
    margin: 10px;
    background: #f3f3f3;
}

.day {
    font-weight: normal;
    font-size: 1rem;
}