#root {
    height: 100vh;
}

#login-screen{
    height: 100%;
    max-width: 300px;
}

#signup-screen {
    height: 100%;
    max-width: 300px;
}

#forgot-password{
    height: 100%;
    max-width: 300px;
}

.brand-logo {
    width: 60vw;
}
